@import 'base/variables';
@import 'base/utils';

@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic|Varela+Round);

@import 'components/header';
@import 'components/logos';

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: $bg-color;
  font-family: Lato, sans-serif;
  font-size: 1.4rem;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: $link-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Varela Round', sans-serif;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.app {
  &.no-scroll {
    overflow: hidden;
  }

  .scroll-top {
    background-color: darken($bg-color, 10);
    border-radius: 8px;
    line-height: 1;
    opacity: 0;
    padding: 1.6rem;
    position: fixed;
    right: 1.2rem;
    top: 1.2rem;
    transform: translatey(-100%);
    transition: opacity 0.3s, transform 0.2s, visibility 0.2s;
    visibility: hidden;
    z-index: 30;

    &:hover {
      opacity: 0.7;
    }

    &.visible {
      opacity: 0.3;
      transform: translatey(0);
      visibility: visible;
    }


    @at-root .isvg #caret-up path {
      fill: lighten($link-color, 10);
    }

    .icon {
      height: 20px;
      width: 20px;
    }
  }
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  margin: -1.5rem;
  padding: 1.5rem;
}

.isvg {
  display: none;

  path {
    fill: #fff;
  }
}

.icon {
  fill: $link-color;
  height: 16px;
  width: 16px;
}

