{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "mocha": true
  },
  "globals": {
    "$": true,
    "ga": false,
    "Modernizr": false,
    "fetch": false
  },
  "plugins": [
    "jsdoc"
  ],
  "rules": {
    "brace-style": [
      1,
      "stroustrup",
      {
        "allowSingleLine": true
      }
    ],
    "comma-dangle": 0,
    "max-len": 0,
    "no-nested-ternary": 1,
    "no-param-reassign": [
      1,
      {
        "props": false
      }
    ],
    "require-jsdoc": [
      1,
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": false,
          "ClassDeclaration": false
        }
      }
    ],
    "spaced-comment": [
      1,
      "always",
      {
        "exceptions": [
          "-+"
        ],
        "markers": [
          "eslint-disable"
        ]
      }
    ],
    "valid-jsdoc": [
      1,
      {
        "prefer": {
          "return": "returns"
        },
        "requireReturn": false,
        "requireParamDescription": false,
        "requireReturnDescription": false
      }
    ],
    // JSDoc
    "jsdoc/check-tag-names": 1,
    "jsdoc/check-types": 1,
    "jsdoc/newline-after-description": 1,
    "jsdoc/require-description-complete-sentence": 1,
    "jsdoc/require-hyphen-before-description": 1,
    // React
    "react/jsx-closing-bracket-location": [
      1,
      "after-props"
    ],
    "react/jsx-key": 1,
    "react/jsx-max-props-per-line": [
      1,
      {
        "maximum": 4
      }
    ],
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-pascal-case": 1,
    "react/jsx-sort-prop-types": 1,
    "react/no-direct-mutation-state": 1,
    "react/sort-comp": [
      1,
      {
        "order": [
          "constructor",
          "lifecycle",
          "everything-else",
          "render"
        ],
        "groups": {
          "lifecycle": [
            "statics",
            "contextTypes",
            "childContextTypes",
            "getChildContext",
            "propTypes",
            "defaultProps",
            "shouldComponentUpdate",
            "componentWillMount",
            "componentDidMount",
            "componentWillReceiveProps",
            "componentWillUpdate",
            "componentDidUpdate",
            "componentWillUnmount"
          ]
        }
      }
    ]
  }
}
