header {
  padding-top: 3rem;
  text-align: center;

  @include md {
    padding-top: 4rem;
  }

  .logo {
    width: 95%;

    @include md {
      width: 70%;
    }

    @include lg {
      width: 50%;
    }
  }

  h3 {
    font-size: 1.8rem;
    margin: 1.5rem 3rem 0.5rem;

    @include sm {
      font-size: 2rem;
      margin-left: auto;
      margin-right: auto;
    }

    @include md {
      font-size: 2.2rem;
      margin-top: 2rem;
      max-width: 80%;
    }

    @include lg {
      max-width: 50%;
    }
  }

  .categories {
    display: inline-block;
    position: relative;

    &__toggle {
      display: flex;
      justify-content: space-between;
      padding: 0 8px;
      position: relative;
      text-align: right;
      text-decoration: none;

      &:before {
        border-top: 1px dashed $link-color;
        bottom: -5px;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
      }

      svg {
        margin-left: 5px;
        position: relative;
        top: 4px;

        @include md {
          top: 7px;
        }
      }
    }

    &__menu {
      left: 0;
      list-style: none;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(5%) scaleY(0);
      transform-origin: top;
      transition: all 0.2s ease-in-out;
      width: 140px;
      z-index: 20;

      @include md {
        width: 180px;
      }

      > li {
        a {
          background-color: $link-color;
          color: #fff;
          display: flex;
          justify-content: space-between;
          padding: 5px 8px;
          text-align: left;
          text-decoration: none;

          svg {
            margin-top: 2px;

            @include md {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }

  .overlay {
    background-color: #000;
    bottom: 0;
    height: 0;
    left: 0;
    opacity: 0;
    pointer-events: all;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.2s ease-in;
    z-index: 10;
  }

  .menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 2rem auto 0;
    padding: 0;
    width: 50%;

    @include md-only {
      display: none;
    }

    > li {
      text-align: left;
      width: 100%;

      &:last-of-type {
        text-align: right;
      }

      .title {
        color: lighten($link-color, 10%);
        display: inline-block;
        font-size: 1.6rem;
        text-decoration: none;
      }

      .tags-button {
        background-color: lighten($link-color, 10%);
        border-radius: 4px;
        color: #fff;
        display: inline-flex;
        font-size: 1.4rem;
        line-height: 1;
        padding: 3px 6px;
        text-decoration: none;

        > span {
          align-content: center;
          display: inline-flex;
        }

        .icon {
          margin-right: 3px;
        }

        &.tagged {
          background-color: $link-color;

          .icon {
            margin-left: 3px;
            margin-right: 0;
          }
        }
      }

      .keyboard {
        color: lighten($link-color, 15%);
        display: block;
        font-size: 1.2rem;
        margin-top: 0.2rem;
        vertical-align: middle;
      }
    }
  }

  .switch {
    background-color: lighten($link-color, 10%);
    border-radius: 5px;
    display: inline-flex;
    margin-left: 1rem;

    > a {
      color: #fff;
      display: flex;
      font-size: 2rem;
      line-height: 1;
      padding: 0.2rem 1.3rem;
      text-decoration: none !important;

      &:last-of-type {
        border-left: 1px solid $bg-color;
      }

      &.disabled {
        color: lighten($link-color, 20%);
        pointer-events: none;
      }
    }
  }

  .tags {
    background-color: rgba($bg-color, 0.7);
    bottom: 0;
    left: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: all;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.3s ease-in;
    z-index: 20;
  }

  .tag-cloud {
    align-items: center;
    display: inline-flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin: 2rem;
    pointer-events: none;

    a {
      background-color: lighten($tag-color, 24);
      border-radius: 5px;
      color: #fff;
      display: inline-block;
      font-size: 1.2rem;
      margin: 0.75rem 0.5rem;
      padding: 0.5rem 1rem;
      pointer-events: all;
      text-decoration: none;

      &.tag-size {
        &-1 {
          background-color: adjust-hue(lighten($tag-color, 16), $tag-step);
          font-size: 1.4rem;
        }

        &-2 {
          background-color: adjust-hue(lighten($tag-color, 8), $tag-step*2);
          font-size: 1.6rem;
        }

        &-3 {
          background-color: adjust-hue($tag-color, $tag-step*3);
          font-size: 2rem;
        }

        &-4 {
          background-color: adjust-hue($tag-color, $tag-step*4);
          font-size: 2.2rem;
        }

        &-5 {
          background-color: adjust-hue($tag-color, $tag-step*5);
          font-size: 2.4rem;
        }
      }
    }
  }

  &.show-menu {
    .categories__menu {
      display: block;
      opacity: 1;
      transform: translateY(0) scaleY(1);
    }

    .overlay {
      height: auto;
      opacity: 0.4;
    }
  }

  &.show-tags {
    .tags {
      max-height: 100vh;
      opacity: 1;
      overflow: scroll;
    }
  }
}
