header {
  padding-top: 3rem;
  text-align: center;

  @include md {
    padding-top: 4rem;
  }

  .logo {
    width: 95%;

    @include md {
      width: 70%;
    }

    @include lg {
      width: 50%;
    }
  }

  h3 {
    color: $link-color;
    font-size: 2rem;
    margin: 1rem 2rem 0;

    @include sm {
      font-size: 2.4rem;
      margin-left: auto;
      margin-right: auto;
    }

    @include md {
      font-size: 2.8rem;
      margin-top: 1rem;
      max-width: 70%;
    }

    @include lg {
      font-size: 3rem;
      max-width: 50%;
    }
  }

  .categories__menu {
    color: $link-color;
    display: inline-flex;
    font-size: 2rem;
    position: relative;

    @include sm {
      font-size: 2.4rem;
    }

    @include md {
      font-size: 2.8rem;
    }

    @include lg {
      font-size: 3rem;
    }

    [data-category='categories'] {
      min-width: 110px;
    }

    ul {
      left: 0;
      list-style: none;
      margin: 0;
      min-width: 180px;
      opacity: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(5%) scaleY(0);
      transform-origin: top;
      transition: all 0.2s ease-in-out;
      width: 140px;
      z-index: 20;

      @include md {
        width: 180px;
      }

      > li {
        a {
          background-color: $link-color;
          color: #fff;
          display: flex;
          font-size: 2rem;
          justify-content: space-between;
          padding: 5px 8px;
          text-align: left;
          text-decoration: none;
        }

        &.active a {
          background-color: darken($link-color, 15);
        }

        &.faded a {
          color: lighten($link-color, 20);

          .icon {
            fill: lighten($link-color, 20);
          }
        }
      }
    }
  }

  .categories__toggle {
    align-items: center;
    color: darken($link-color, 20);
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    position: relative;
    text-decoration: none;

    &.empty {
      text-decoration: line-through;
    }

    &:focus,
    &:active {
      outline: none;
    }

    &:before {
      border-top: 1px dashed darken($link-color, 20);
      bottom: -5px;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    .icon {
      align-self: flex-end;
      fill: darken($link-color, 20);
      margin-bottom: 2px;
      margin-left: 5px;

      @include sm {
        margin-bottom: 3px;
      }

      @include md {
        margin-bottom: 5px;
      }

      @include lg {
        margin-bottom: 6px;
      }
    }
  }

  .menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 3rem auto 0;
    padding: 0;
    width: 100%;

    @include sm {
      width: 90%;
    }

    @include md {
      width: 70%;
    }

    @include lg {
      margin-top: 4rem;
      width: 50%;
    }

    > li {

      &:first-of-type {
        width: 67%;

        @include sm {
          width: 100%;
        }
      }

      &:last-of-type {
        text-align: right;
      }
    }

    &__tags {
      text-align: left;

      a {
        background-color: lighten($link-color, 10%);
        border-radius: 4px;
        color: #fff;
        display: inline-flex;
        font-size: 1.4rem;
        line-height: 1;
        padding: 4px 6px;
        text-decoration: none;

        > span {
          align-content: center;
          display: inline-flex;
        }

        .icon {
          fill: #fff;
          margin-right: 3px;
        }

        &.tagged {
          background-color: $link-color;

          .icon {
            margin-left: 3px;
            margin-right: 0;
          }
        }
      }
    }

    &__columns {
      text-align: center;
      width: 100%;

      @include sm-only {
        display: none;
      }

      .switch {
        background-color: lighten($link-color, 10%);
        border-radius: 5px;
        display: inline-flex;

        > a {
          color: #fff;
          display: flex;
          font-size: 2rem;
          line-height: 1;
          padding: 0.2rem 1.3rem;
          text-decoration: none !important;

          &:last-of-type {
            border-left: 1px solid $bg-color;
          }

          &.disabled {
            color: lighten($link-color, 20%);
            pointer-events: none;
          }
        }
      }

      .keyboard {
        color: lighten($link-color, 15%);
        display: block;
        font-size: 1.2rem;
        margin-top: 0.2rem;
        vertical-align: middle;
      }
    }

    &__search {
      width: 32%;

      @include sm {
        width: 100%;
      }

      .search-box {
        display: inline-block;
        position: relative;
        width: 100%;

        @include sm {
          width: 150px;
        }

        .icon {
          fill: $link-color;
          position: absolute;
          right: 0;
          top: 0;
          transform: translate(-25%, 20%);
        }

        a .icon {
          transform: translate(-25%, 27%);
        }
      }

      input {
        appearance: none;
        background-color: rgba($link-color, 0.1);
        border: 1px solid $link-color;
        border-radius: 4px;
        box-shadow: none;
        color: $link-color;
        display: inline-flex;
        font-family: "Varela Round", sans-serif;
        font-size: 1.4rem;
        height: 24px;
        line-height: 1;
        margin: 0;
        outline: none;
        padding: 3px 22px 2px 8px;
        width: 100%;
      }
    }
  }

  .tag-cloud {
    background-color: rgba($bg-color, 0.8);
    bottom: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    pointer-events: all;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.5s, visibility 0.2s;
    visibility: hidden;
    z-index: 20;

    &__wrapper {
      align-items: center;
      display: inline-flex;
      flex-flow: wrap;
      justify-content: space-around;
      margin: 15px;
      pointer-events: none;

      @include xs-only {
        justify-content: flex-start;
      }

      a {
        background-color: lighten($tag-color, 24);
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        font-size: 1.2rem;
        margin: 0.5rem;
        opacity: 0.1;
        padding: 0.5rem 1rem;
        pointer-events: all;
        text-decoration: none;
        transform: translateY(-20%) scaleY(0.1);
        transform-origin: top;
        transition: transform 0.3s ease-in-out, opacity 0.2s 0.1s;

        @include sm-only {
          margin: 0.3rem;
        }

        &.tag-size {
          &-1 {
            background-color: adjust-hue(lighten($tag-color, 16), $tag-step);
            font-size: 1.4rem;
          }

          &-2 {
            background-color: adjust-hue(lighten($tag-color, 8), $tag-step*2);
            font-size: 1.6rem;
          }

          &-3 {
            background-color: adjust-hue($tag-color, $tag-step*3);
            font-size: 2rem;
          }

          &-4 {
            background-color: adjust-hue($tag-color, $tag-step*4);
            font-size: 2.2rem;
          }

          &-5 {
            background-color: adjust-hue($tag-color, $tag-step*5);
            font-size: 2.4rem;
          }
        }
      }
    }
  }

  .overlay {
    background-color: #000;
    bottom: 0;
    height: 0;
    left: 0;
    opacity: 0;
    pointer-events: all;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
    z-index: 10;
  }

  &.show-menu {
    .categories__menu ul {
      display: block;
      opacity: 1;
      transform: translateY(0) scaleY(1);
    }

    .overlay {
      height: auto;
      opacity: 0.4;
    }
  }

  &.show-tags {
    .tag-cloud {
      opacity: 1;
      overflow: scroll;
      visibility: visible;

      a {
        opacity: 1;
        transform: translateY(0) scaleY(1);
      }
    }
  }
}
