header {
  padding-top: 3rem;
  text-align: center;

  @include md {
    padding-top: 4rem;
  }

  .logo {
    width: 95%;

    @include md {
      width: 70%;
    }

    @include lg {
      width: 50%;
    }
  }

  h3 {
    font-size: 1.8rem;
    margin: 1.5rem 3rem 0.5rem;

    @include sm {
      font-size: 2rem;
      margin-left: auto;
      margin-right: auto;
    }

    @include md {
      font-size: 2.5rem;
      margin-top: 2rem;
      max-width: 80%;
    }

    @include lg {
      max-width: 60%;
    }
  }

  .menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 2rem auto 0;
    padding: 0;
    width: 50%;

    @include md-only {
      display: none;
    }

    > li {
      text-align: center;
      width: 100%;

      .title {
        color: lighten($link-color, 10%);
        font-size: 2rem;
        text-transform: uppercase;
      }

      .keyboard {
        color: lighten($link-color, 15%);
        display: block;
        margin-top: 0.2rem;
        vertical-align: middle;
      }
    }
  }

  .switch {
    background-color: lighten($link-color, 10%);
    border-radius: 5px;
    display: inline-flex;
    margin-left: 1rem;

    > a {
      color: #fff;
      display: flex;
      font-size: 2rem;
      line-height: 1;
      padding: 0.2rem 1.3rem;
      text-decoration: none !important;

      &:last-of-type {
        border-left: 1px solid $bg-color;
      }

      &.disabled {
        color: lighten($link-color, 20%);
        pointer-events: none;
      }
    }
  }

  .tag-cloud {
    align-items: center;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;

    a {
      background-color: $link-color;
      border-radius: 5px;
      color: #fff;
      display: inline-block;
      margin: 1rem;
      padding: 0.5rem 1rem;
      text-decoration: none;
    }
  }
}
