.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0 0 3rem;
  padding: 0;

  > li {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 7rem 3rem;
    position: relative;
    text-align: center;
    width: 100%;

    @include xs-only {
      padding: 3rem 0;
    }

    @include md {
      width: 50%;
    }

    @include lg {
      width: percentage(1/3);
    }

    &.hidden {
      display: none;
    }

    &.show-info {
      h5 a {
        color: #444;
      }

      .tags a {
        color: #777;
      }
    }

    a {
      color: $bg-color;
      outline: none;
      text-decoration: none;
      transition: all 0.2s;

      @include md-only {
        color: #999;
      }

      &.logo-item {
        display: block;
        width: 100%;

        @include sm-only {
          margin-bottom: 5rem !important;
          margin-top: 2rem !important;
        }
      }
    }

    .info {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      transition: color 0.3s;
    }

    h5 {
      color: $bg-color;
      font-size: 2rem;
      margin: 0;
    }

    .tags {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin-top: 4px;

      > a {
        + a {
          margin-left: 4px;
        }

        &:hover {
          color: $link-color;
        }
      }
    }

    img {
      display: block;
      margin: 0 auto;
      max-height: 40vh;
      max-width: 100%;
      transition: all 0.4s;

      @include xs-only {
        max-height: none !important;
        width: 100% !important;
      }
    }
  }

  &.col-1 {
    > li {
      @include md {
        width: 100% !important;
      }

      .logo-item {
        margin-bottom: 5rem;
        margin-top: 5rem;
      }

      img {
        max-height: 60vh;
        max-width: none;
        width: 70%;
      }
    }
  }

  &.col-2 {
    > li {
      @include md {
        width: percentage(1/2) !important;
      }

      .logo-item {
        margin-bottom: 3rem;
        margin-top: 3rem;
      }

      img {
        max-height: 50vh;
        max-width: none;
        width: 90%;
      }
    }
  }

  &.col-3 {
    > li {
      @include md {
        width: percentage(1/3) !important;
      }

      .logo-item {
        margin-bottom: 4rem;
        margin-top: 2rem;
      }

      img {
        max-height: 50vh;
        max-width: none;
        width: 90%;
      }
    }
  }

  &.col-4 {
    > li {
      @include md {
        padding: 8vh 3vh;
        width: percentage(1/4) !important;
      }
    }
  }

  &.col-5 {
    > li {
      @include md {
        width: percentage(1/5) !important;
      }

      @include lg {
        padding: 8vh 5vh;
      }
    }
  }
}
