@import 'base/variables';
@import 'base/utils';

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: $bg-color;
  font-family: Helvetica Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: $link-color;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

header {
  padding-top: 3rem;
  text-align: center;

  @include md {
    padding-top: 4rem;
  }

  .logo {
    width: 95%;

    @include md {
      width: 70%;
    }

    @include lg {
      width: 50%;
    }
  }

  h3 {
    font-size: 1.8rem;
    margin: 1.5rem 3rem 0.5rem;

    @include sm {
      font-size: 2rem;
      margin-left: auto;
      margin-right: auto;
    }

    @include md {
      font-size: 2.5rem;
      margin-top: 2rem;
      max-width: 80%;
    }

    @include lg {
      max-width: 60%;
    }
  }
}

.logos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    padding: 5vh 1vh;
    text-align: center;
    width: 100%;

    @include md {
      width: 50%;
    }

    @include lg {
      width: percentage(1/3);
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  margin: -1.5rem;
  padding: 1.5rem;
}
