@import 'base/variables';
@import 'base/utils';

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: $bg-color;
  font-family: Montserrat, sans-serif;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: $link-color;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h1,
h3,
h5 {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 3rem 0 1.5rem;

  @include md {
    font-size: 4rem;
  }

  @include lg {
    font-size: 8rem;
  }
}

h3 {
  font-size: 1.8rem;
  margin: 0 auto 0.5rem;

  @include md {
    font-size: 2.5rem;
    max-width: 80%;
  }

  @include lg {
    font-size: 3rem;
    max-width: 60%;
  }
}

h5 {
  font-size: 1.5rem;
  margin: 0;
}

.logos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    padding: 5vh 1vh;
    text-align: center;
    width: 100%;

    @include md {
      width: 50%;
    }

    @include lg {
      width: percentage(1/3);
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}
