SVG Logos
====================
### A collection of svg vector logos for developers.
[View All](http://svgporn.com)

The logos are optimized (removed unnecessary paths/groups/defs, standardized, etc). Some were recreated from rastered images.

*All logos appearing on the site are the property of their respective owners. Any rights not expressly granted herein are reserved.*

## Contributing
Since I optimize all the files manually I won't accept pull requests with new logos.
And that's why they look so good.

Please add your requests in the issues preferably with links to the vector files.

---

{{#each this}}
## <a href="{{url}}" target="_blank">{{name}}</a>
{{#each files}}
![{{../shortname}}](http://gilbarbara.github.io/logos/{{this}})

{{/each}}
{{/each}}
